.inWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #kokanuOut, #latinOut {
    margin-top: 5px;
    padding: 3px;
    border: 2px solid black;
    min-width: 400px;
    min-height: 20px;
    border-radius: 5px;
    font-size: 1.5em;
    resize: vertical;
    font-family: "Noto Sans", sans-serif;
  }
  
  .hidden {
    display: none;
  }
  
  button.flash {
    animation: flash 1s linear forwards;
  }
  
  @keyframes flash {
   0% { color: red; }
   100% { color: black; } 
  }
  