
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");
        
body {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.output-box {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #f8f9fa;
    min-height: 50px;
    overflow-x: auto;
}

button.flash {
    animation: flash 1s linear forwards;
}

@keyframes flash {
    0% { color: red; }
    100% { color: black; } 
}
